@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 0;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1280px;
  --font-display: "Pretendard Variable";
}

@custom-variant dark (&:where(.dark, .dark *));

@utility write-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

body {
  overflow-x: hidden;
  &.dark {
    @apply bg-neutral-950;
  }
}

.area {
  @apply relative before:absolute before:inset-[auto_0_0_0] before:border-b-[1px] before:border-gray-200 dark:before:border-neutral-700;
  > form,
  > div {
    @apply border-[1px] border-t-0 border-gray-200 mobile:w-full tablet:w-[90vw] mx-auto relative mobile:p-5 tablet:p-15
    
    after:absolute after:right-0 after:bottom-0 after:w-7 after:aspect-square after:rounded-full after:translate-x-[50%] after:translate-y-[50%] after:rounded-b-full
    
    before:absolute before:left-0 before:bottom-0 before:w-7 before:aspect-square before:rounded-full  before:translate-x-[-50%] before:translate-y-[50%] before:rounded-b-full
    
    mobile:before:hidden tablet:before:block
    before:bg-[url(/src/assets/ico_plus.svg)] before:bg-white dark:before:invert-100 before:bg-contain before:bg-no-repeat before:box-border before:p-1.5 before:bg-origin-content
    mobile:after:hidden tablet:after:block
    after:bg-[url(/src/assets/ico_plus.svg)] after:bg-white dark:after:invert-100 after:bg-contain after:bg-no-repeat after:box-border after:p-1.5 after:bg-origin-content;
    &.portfolio-wrap {
      @apply p-0;
    }
    footer & {
      @apply mobile:p-5 tablet:p-10;
    }
    header & {
      @apply p-0;
    }
  }
  .detail-view {
    transition: 0.4s allow-discrete;
    opacity: 0;
    margin-top: 5rem;
    width: clamp(36rem, 50vw, 40rem);
    padding: 2rem;
    border-radius: 1rem;

    &[open] {
      opacity: 1;
      margin-top: 0;
      @starting-style {
        opacity: 0;
        margin-top: -5rem;
        &::backdrop {
          opacity: 0;
        }
      }
      &::backdrop {
        opacity: 1;
      }
    }
    &::backdrop {
      opacity: 0;
      transition: opacity 0.4s;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  > form {
    @apply p-3;
  }
  > ul {
    @apply py-0 px-0;
  }
  .dark & {
    * {
      @apply border-neutral-700;
    }
  }
}

.btn-goto {
  @apply inline-flex items-center gap-2 pb-1 duration-500 transition-all;
  background: linear-gradient(to right, #000, #000) no-repeat left bottom / 100% 2px;
  span {
    @apply duration-500 transition-all text-sm;
    position: relative;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: color 0.5s;
      transform: rotateX(-90deg);
      transform-origin: 50% 0;
      text-align: center;
    }
  }
  &:hover {
    background-size: 0 2px;
    span {
      transform: rotateX(90deg) translateY(-12px);
    }
  }
}
.hover-kor {
  @apply inline-flex items-end duration-500 transition-all uppercase mobile:text-lg tablet:text-xl leading-[1] mobile:-translate-y-4 tablet:-translate-y-7 tablet:-mt-[50px];
  span {
    @apply duration-500 transition-all text-xl leading-[1] w-40;
    position: relative;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    &::before {
      @apply text-base leading-[1];
      content: attr(data-kor);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: color 0.5s;
      transform: rotateX(-90deg);
      transform-origin: 50% 0;
    }
  }
  &:hover {
    span {
      transform: rotateX(90deg) translateY(-12px);
    }
  }
  strong {
    @apply mobile:translate-y-[13px] tablet:translate-y-[28px];
  }
}

.sns-list {
  li {
    position: relative;
    a:focus,
    &:hover {
      span {
        footer & {
          @apply -top-8 opacity-100;
        }
        aside & {
          @apply left-8 opacity-100;
        }
      }
    }
  }
  span {
    @apply bg-black text-white text-sm py-1 px-2 rounded-md absolute  whitespace-nowrap transition-all duration-300 opacity-0;
    footer & {
      @apply -top-4 left-[50%] translate-x-[-50%];
      &::after {
        border-color: #000 transparent transparent transparent;
        @apply left-[50%] -bottom-3 translate-x-[-50%];
      }
    }
    aside & {
      @apply left-10 top-[50%] translate-y-[-50%];
      @media (width < 1024px) {
        @apply hidden;
      }
      &::after {
        @apply -left-3 top-[50%] translate-y-[-50%];
        border-color: transparent #000 transparent transparent;
        @media (width < 1024px) {
          @apply hidden;
        }
      }
    }
    &::after {
      content: "";
      border-style: solid;
      border-width: 0.5rem;
      position: absolute;
    }
  }
}
main {
  margin-top: 113px;
}

.feedback {
  /* --swiper-navigation-color:#a4f4cf; */
  --swiper-navigation-color: #005f5a;

  .swiper-pagination {
    @apply flex gap-2 justify-center mt-10;
    > span {
      @apply w-2 aspect-square rounded-full bg-emerald-200;
      &.swiper-pagination-bullet-active {
        @apply bg-teal-800;
      }
    }
  }
}

.badge {
  @apply border-[1px] border-solid px-3 py-[3px] text-xs font-light rounded-sm;
  &.pub {
    @apply bg-lime-200 border-lime-600 dark:bg-transparent dark:border-lime-200 dark:text-lime-200;
  }
  &.pl {
    @apply bg-cyan-200 border-cyan-600 dark:bg-transparent dark:border-cyan-200 dark:text-cyan-200;
  }
  &.react {
    @apply bg-purple-200 border-purple-600 dark:bg-transparent dark:border-purple-200 dark:text-purple-200;
  }
  &.a11y {
    @apply bg-amber-200 border-amber-600 dark:bg-transparent dark:border-amber-200 dark:text-amber-200;
  }
  &.plan {
    @apply bg-indigo-200 border-indigo-600 dark:bg-transparent dark:border-indigo-200 dark:text-indigo-200;
  }
  &.design {
    @apply bg-green-200 border-green-600 dark:bg-transparent dark:border-green-200 dark:text-green-200;
  }
  &.flex {
    @apply bg-yellow-200 border-yellow-600 dark:bg-transparent dark:border-yellow-200 dark:text-yellow-200;
  }
  &.flash {
    @apply bg-stone-200 border-stone-600 dark:bg-transparent dark:border-stone-200 dark:text-stone-200;
  }
  &.motion {
    @apply bg-pink-200 border-pink-600 dark:bg-transparent dark:border-pink-200 dark:text-pink-200;
  }
  &.dev {
    @apply bg-slate-200 border-slate-600 dark:bg-transparent dark:border-slate-200 dark:text-slate-200;
  }
}
/* -------------------------------------------------------------------------- */
/*                                    About                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                               Post Education                               */
/* -------------------------------------------------------------------------- */
.post-education {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  input {
    border: 1px solid silver;
    height: 3rem;
    padding-inline: 1rem;
  }
  button {
    grid-column: 1/-1;
    background-color: slateblue;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
  }
}

.table-type1 {
  width: 100%;
  td,
  th {
    padding: 0.5rem;
    border: 1px solid #d1d1d1;
  }
}
