@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 0;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1280px;
  --font-display: "Pretendard Variable";
}

@utility write-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.area {
  @apply relative before:absolute before:inset-[auto_0_0_0] before:border-b-[1px] before:border-gray-200;
  > form,
  > div {
    @apply border-[1px] border-t-0 border-gray-200 mobile:w-full tablet:w-[90vw] mx-auto relative mobile:p-5 tablet:p-15
    
    after:absolute after:right-0 after:bottom-0 after:w-7 after:aspect-square after:rounded-full after:translate-x-[50%] after:translate-y-[50%] after:rounded-b-full
    
    before:absolute before:left-0 before:bottom-0 before:w-7 before:aspect-square before:rounded-full  before:translate-x-[-50%] before:translate-y-[50%] before:rounded-b-full
    
    mobile:before:hidden tablet:before:block
    before:bg-[url(/src/assets/ico_plus.svg)] before:bg-white before:bg-contain before:bg-no-repeat before:box-border before:p-1.5 before:bg-origin-content
    mobile:after:hidden tablet:after:block
    after:bg-[url(/src/assets/ico_plus.svg)] after:bg-white after:bg-contain after:bg-no-repeat after:box-border after:p-1.5 after:bg-origin-content;
    &.portfolio-wrap {
      @apply p-0  transition-all duration-500;
      &.show {
        @apply pr-[450px];
      }
    }
    footer & {
      @apply mobile:p-5 tablet:p-10;
    }
    header & {
      @apply mobile:p-5 tablet:p-10;
    }
  }
  .detail-view {
    @apply absolute right-0 top-0 bottom-0 bg-white border-l-[0] border-double border-gray-300 w-0 transition-all duration-700 overflow-hidden;
    &.show {
      @apply w-[450px] border-l-[3px];
    }
  }
  > form {
    @apply p-3;
  }
  > ul {
    @apply py-0 px-0;
  }
}

.btn-goto {
  @apply inline-flex items-center gap-2 pb-1 duration-500 transition-all;
  background: linear-gradient(to right, #000, #000) no-repeat left bottom / 100% 2px;
  span {
    @apply duration-500 transition-all text-sm;
    position: relative;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      content: attr(data-text);
      transition: color 0.5s;
      transform: rotateX(-90deg);
      transform-origin: 50% 0;
      text-align: center;
    }
  }
  &:hover {
    background-size: 0 2px;
    span {
      transform: rotateX(90deg) translateY(-12px);
    }
  }
}

.sns-list {
  li {
    position: relative;
    a:focus,
    &:hover {
      span {
        footer & {
          @apply -top-8 opacity-100;
        }
        aside & {
          @apply left-8 opacity-100;
        }
      }
    }
  }
  span {
    @apply bg-black text-white text-sm py-1 px-2 rounded-md absolute  whitespace-nowrap transition-all duration-300 opacity-0;
    footer & {
      @apply -top-4 left-[50%] translate-x-[-50%];
      &::after {
        border-color: #000 transparent transparent transparent;
        @apply left-[50%] -bottom-3 translate-x-[-50%];
      }
    }
    aside & {
      @apply left-10 top-[50%] translate-y-[-50%];
      &::after {
        @apply -left-3 top-[50%] translate-y-[-50%];
        border-color: transparent #000 transparent transparent;
      }
    }
    &::after {
      content: "";
      border-style: solid;
      border-width: 0.5rem;
      position: absolute;
    }
  }
}
